tcc-seed

/stage
/downloads
/tmp

/log
/log.tmp
/result*
/scratch
/pkgs
/trees
/nix-checksums-stage4
/nix-checksums-stage5
/nix-checksums-stage5-custom

/ZilchOS-core.iso
/ZilchOS-core-raw.iso

/TODO
